@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

html,
body {
    background-color: bisque;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

ol,
ul,
li {
    list-style: none;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(100, 45, 45, 0.8);
    border-bottom: 2px solid rgba(100, 45, 45, 0.2);
}

@supports ((-webkit-backdrop-filter: none;) or (backdrop-filter: none)) {
    header {
        background-color: rgba(100, 45, 45, 0.6);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

header h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: cornsilk;
    gap: 1rem;
}

#cards {
    padding-top: 4rem;
    max-width: 90%;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0.7fr));
    gap: 1rem;
    margin: auto;
}

li.card {
    background-color: cornsilk;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(100, 45, 45, 0.35);
    gap: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

li.card:hover {
    animation: bounce 0.25s linear;
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-0.5rem);
    }

    50% {
        transform: translateY(0rem);
    }
}

/* Continuação de Cards*/
.card img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 13rem;
}

.card-text > * {
    text-align: center;
}

.card-text h3 {
    margin-bottom: 0.4rem;
}

.card-type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 3rem 0.4rem 3rem;
    text-transform: capitalize;
}

.card-type h3 {
    margin-right: 0.7rem;
    margin-bottom: 0rem;
}

.card-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: normal;
}

.card-subtitle {
    font-weight: 300;
    color: #333;
}

/* MODAL */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

div.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 50%;
    min-height: 50%;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    /* color: rgba(0, 0, 0, 1); */
    text-shadow: 2px 2px 1px rgba(100, 45, 45, 0.6);
    box-shadow: 3px 3px rgba(100, 45, 45, 0.3);
}

.modal-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 50%;
    /* flex-grow: 1; */
    padding-left: 5rem;
}

.modal-container-1 img {
    width: 18rem;
}

.modal-description {
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 35px;

}

.modal-container-2 {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 5rem;
}

#div-types {
    display: flex;
    justify-content: center;
}


.modal h2,
.modal h3 {
    font-size: 2.5rem;
    font-weight: 500;
}

.modal h2 {
    font-size: 3rem;
    margin: 1.5rem 0rem 0rem 0rem;
    padding: 0 2rem 0 2rem;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
}

.modal h3 {
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    min-width: 25rem;
}
.modal-type {
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
    margin: 0.5rem 0rem 0rem 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 35px;
}

.modal-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 20rem;
    min-width: 20rem;
    margin-bottom: 2rem;
    width: 70%;
}

.modal-stat {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    font-size: 1.5rem;
    line-height: 20%;
    box-shadow: 0px 16px 0px rgba(255,248,220, 0.5);
    
}

#close-button {
    position: absolute;
    top: 26%;
    right: 10%;
    width: 2.5rem;
    height: 2rem;
}

#close-button:hover {
    cursor: pointer;
}

button {
    border: none;
    /* padding: 10px 10px; */
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    /* text-shadow: 2.5px 2px 0px rgba(87, 60, 60, 0.55); */
    text-shadow: 2px 2px 1px rgba(100, 45, 45, 0.6);
    box-shadow: 3px 3px rgba(100, 45, 45, 0.4);
    border-radius: 5px;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
}

/* BACKGROUND CARDS AND MODAL-CARDS BY TYPE COLOR*/
li.grass,
div.grass {
    background-color: rgba(216,226,182, 1);
}

li.fire,
div.fire {
    background-color: rgba(245, 173, 149, 1);
}

li.water,
div.water {
    background-color: rgba(162,193,223, 1);
}

li.ice,
div.ice {
    background-color: rgba(178,232,214, 1);
}

li.bug,
div.bug {
    background-color: rgba(204,217,159, 1);
}

li.poison,
div.poison {
    background-color: rgba(219,183,208, 1);
}

li.ground,
div.ground {
    background-color: rgba(232,197,160, 1);
}

li.fairy,
div.fairy {
    background-color: rgba(255,201,188, 1);
}

li.eletric,
div.electric {
    background-color: rgba(255, 234, 180, 1);
}

li.fighting,
div.fighting {
    background-color: rgba(249,188,137, 1);
}

li.rock,
div.rock {
    background-color: rgba(224,198,177, 1);
}

li.ghost,
div.ghost {
    background-color: rgba(183,157,173, 1);
}

li.psychic,
div.psychic {
    background-color: rgba(252,172,172, 1);
}

li.dark,
div.dark {
    background-color: rgba(178,159,182, 1);
}

li.dragon,
div.dragon {
    background-color: rgba(178,164,214, 1);
}

li.steel,
div.steel {
    background-color: rgba(191,188,206, 1);
}

div.normal {
    background-color: rgba(240,213,181, 1);
}

/* FOOTER */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(100, 45, 45, 0.8);
    border-top: 2px solid rgba(100, 45, 45, 0.2);
}

@supports ((-webkit-backdrop-filter: none;) or (backdrop-filter: none)) {
    footer {
        background-color: rgba(100, 45, 45, 0.6);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

footer section {
    display: flex;
    color: white;
    padding: 0.3rem 2.5rem 0.3rem 2.5rem;
    /* max-height: 3rem; */
    justify-content: space-between;
}

footer section div {
    display: flex;
}

footer section span {
    color: rgb(226, 43, 43);
}

/* Media Queries */
/* width 1007px */

/* width 640px */
@media screen and (max-width: 720px) {
    #cards {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 60%;
        min-width: 20rem;
    }

    .modal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
    }

    .modal h2, .modal h3 {
        font-size: 2.2rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
    }

    .modal h3 {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    div.card {
        flex-direction: column;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-evenly;
        flex-shrink: 1;
        min-height: 50%;
        max-width: 70%;
    }
    

    .modal-container-1 {
        height: 50%;
        width: 75%;
        padding-left: 0rem;
    }

    .modal-container-1 img {
        width: 15rem;
    }

    .modal-container-2 {
        width: 50%;
        height: 50%;
        padding: 0rem 0 0rem 0;
    }

    .modal-type {
        padding: 0.25rem 1.25rem 0.25rem 1.25rem;
        margin: 0rem 0rem 0rem 1rem;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 35px;
    }
    
    .modal-description {
        padding: 1rem;
        margin: 0rem 1rem 1rem 1rem;
        font-size: 1.4rem;
        line-height: 1.85rem;
    }

    .modal-stat {
        width: 95%;
    }

    .modal-stats {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 20rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    button{
        display: none;
    }
    
    footer {
        height: 1.8rem;
    }

    footer section {
        padding: 0.2rem 1rem 0rem 1rem;
    }

}

@media screen and (max-width: 540px) {
    div.card {
        min-height: 50%;
        max-width: 90%;
    }

    .modal h2, .modal h3 {
        font-size: 2rem;
        padding: 0rem 1rem 0rem 1rem;
    }

    .modal-container-1 img {
        width: 13rem;
    }
    .modal-description {
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin: 0rem 1rem 1rem 1rem;
        font-size: 1.2rem;
        line-height: 1.7rem;
    }

    .modal-stats {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 20rem;
        min-width: 20rem;
        margin-bottom: 2rem;
    }
    
    .modal-stat {
        width: 85%;
        font-size: 1.3rem;
        
    }
}
