@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

html,
body {
    background-color: bisque;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

ol,
ul,
li {
    list-style: none;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(100, 45, 45, 0.8);
    border-bottom: 2px solid rgba(100, 45, 45, 0.2);
}

@supports ((-webkit-backdrop-filter: none;) or (backdrop-filter: none)) {
    header {
        background-color: rgba(100, 45, 45, 0.6);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

header h1 {
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color: cornsilk;
    gap: 1rem;
}

#cards {
    padding-top: 4rem;
    max-width: 90%;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 0.7fr));
    gap: 1rem;
    margin: auto;
}

@media screen and (max-width: 720px) {
    #cards {
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 60%;
        min-width: 20rem;
    }
}

li.card {
    background-color: cornsilk;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(100, 45, 45, 0.35);
    gap: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

li.card:hover {
    animation: bounce 0.25s linear;
    cursor: pointer;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-0.5rem);
    }

    50% {
        transform: translateY(0rem);
    }
}

/* Background Color Per Types*/
li.grass {
    background-color: rgba(125, 220, 150, 0.3);
}

li.fire {
    background-color: rgba(220, 48, 40, 0.3);
}

li.water {
    background-color: rgba(50, 150, 255, 0.45);
}

li.ice {
    background-color: rgba(86, 236, 236, 0.45);
}

li.bug {
    background-color: rgba(0, 172, 14, 0.2);
}

li.poison {
    background-color: rgba(75, 0, 255, 0.2);
}

li.ground {
    background-color: rgba(139, 69, 19, 0.2);
}

li.fairy {
    background-color: rgba(255, 91, 154, 0.2);
}

li.electric {
    background-color: rgba(255, 255, 115, 0.2);
}

li.fighting {
    background-color: rgba(240, 128, 48, 0.4);
}

li.rock {
    background-color: rgba(100, 75, 100, 0.2);
}

li.ghost {
    background-color: rgba(112, 88, 152, 0.5);
}

li.psychic {
    background-color: rgba(248, 88, 136, 0.4);
}

li.dark {
    background-color: rgba(0, 0, 150, 0.3);
}

li.dragon {
    background-color: rgba(0, 17, 255, 0.3);
}

li.steel {
    background-color: rgba(184, 184, 208, 0.9);
}

/* Continuação de Cards*/
.card img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 13rem;
}

.card-text > * {
    text-align: center;
}

.card-text h3 {
    margin-bottom: 0.4rem;
}

.card-type {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 3rem 0.4rem 3rem;
    text-transform: capitalize;
}

.card-type h3 {
    margin-right: 0.7rem;
    margin-bottom: 0rem;
}

.card-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: normal;
}

.card-subtitle {
    font-weight: 300;
    color: #333;
}

/* MODAL */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

div.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 50%;
    min-height: 50%;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    /* color: rgba(0, 0, 0, 1); */
    text-shadow: 2px 2px 1px rgba(100, 45, 45, 0.6);
    box-shadow: 3px 3px rgba(100, 45, 45, 0.3);
}

.modal-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 50%;
    /* flex-grow: 1; */
    padding-left: 5rem;
}

.modal-container-1 img {
    width: 18rem;
}

.modal-description {
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 35px;

}

.modal-container-2 {
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    /* flex-grow: 1; */
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 5rem;
}

#div-types {
    display: flex;
    justify-content: center;
}


.modal h2,
.modal h3 {
    font-size: 2.5rem;
    font-weight: 500;
}

.modal h2 {
    font-size: 3rem;
    margin: 1.5rem 0rem 0rem 0rem;
    padding: 0 2rem 0 2rem;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.4);
}

.modal h3 {
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    min-width: 25rem;
}
.modal-type {
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
    margin: 0.5rem 0rem 0rem 1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 35px;
    /* text-shadow: 2.5px 2px 0px rgba(87, 60, 60, 0.55); */
    /* box-shadow: 3px 3px rgba(100, 45, 45, 0.4); */
    
}

.modal-stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 20rem;
    min-width: 20rem;
    margin-bottom: 2rem;
}

.modal-stat {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    font-size: 1.5rem;
    line-height: 20%;
    box-shadow: 0px 16px 0px rgba(255,248,220, 0.5);
    
}

#close-button {
    position: absolute;
    top: 26%;
    right: 5%;
    width: 2.5rem;
    height: 2rem;
}

#close-button:hover {
    cursor: pointer;
}

button {
    border: none;
    /* padding: 10px 10px; */
    background-color: rgba(255, 248, 220, 0.6);
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
    /* text-shadow: 2.5px 2px 0px rgba(87, 60, 60, 0.55); */
    text-shadow: 2px 2px 1px rgba(100, 45, 45, 0.6);
    box-shadow: 3px 3px rgba(100, 45, 45, 0.4);
    border-radius: 5px;
}

button:hover{
    animation: bounce 0.25s linear;
}

div.grass {
    background-color: rgba(216,226,182, 1);
}

div.fire {
    background-color: rgba(245, 173, 149, 1);
}

div.water {
    background-color: rgba(162,193,223, 1);
}

div.ice {
    background-color: rgba(178,232,214, 1);
}

div.bug {
    background-color: rgba(204,217,159, 1);
}

div.poison {
    background-color: rgba(219,183,208, 1);
}

div.ground {
    background-color: rgba(232,197,160, 1);
}

div.fairy {
    background-color: rgba(255,201,188, 1);
}

div.electric {
    background-color: rgba(255, 234, 180, 1);
}

div.fighting {
    background-color: rgba(249,188,137, 1);
}

div.rock {
    background-color: rgba(224,198,177, 1);
}

div.ghost {
    background-color: rgba(183,157,173, 1);
}

div.psychic {
    background-color: rgba(252,172,172, 1);
}

div.dark {
    background-color: rgba(178,159,182, 1);
}

div.dragon {
    background-color: rgba(178,164,214, 1);
}

div.steel {
    background-color: rgba(191,188,206, 1);
}

div.normal {
    background-color: rgba(240,213,181, 1);
}

/* FOOTER */

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(100, 45, 45, 0.8);
    border-top: 2px solid rgba(100, 45, 45, 0.2);
}

@supports ((-webkit-backdrop-filter: none;) or (backdrop-filter: none)) {
    footer {
        background-color: rgba(100, 45, 45, 0.6);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

footer section {
    display: flex;
    color: white;
    padding: 0.3rem 2.5rem 0.3rem 2.5rem;
    /* max-height: 3rem; */
    justify-content: space-between;
}

footer section div {
    display: flex;
}

footer section span {
    color: rgb(226, 43, 43);
}
